[submodule "rtc"]
	path = rtc
	url = https://github.com/webrtc-rs/rtc
[submodule "apprtc"]
	path = apprtc
	url = https://github.com/webrtc-rs/apprtc
[submodule "signaling"]
	path = signaling
	url = https://github.com/webrtc-rs/signaling
