[submodule "apprtc"]
	path = apprtc
	url = https://github.com/webrtc-rs/apprtc
[submodule "signaling"]
	path = signaling
	url = https://github.com/webrtc-rs/signaling
[submodule "webrtc"]
	path = webrtc
	url = https://github.com/webrtc-rs/webrtc
